.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.A{
    margin-left: 30px;
}
.child{
    height: 240px;
    width: 150px;
    border: 2px solid red;
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 20px;
    text-align: center;
}
.B{
    color: red;
    font-size: 35px;
}
.home{
    filter: blur(8px);
    border: 1px solid gray;
}
.shubham{
    width: 250px;
    border: 2px solid red;
    background-color: #ffffff;
    margin: 0px 480px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 250px;
}
button{
    margin: 25px;
    background-color: rgb(173, 19, 19);
    border-radius: 10px;
    color: white;
}
@media only screen and (min-width:300px) and (max-width:500px) {
    .parent{
        display: flex;
        flex-direction: column;
    }
    .child{
        height: 200px;
        width: 400px;
    }
    .shubham{
        margin: auto 100px;
        position: relative;
        top: 800px;
    }
}